

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="79E6444B" />
</div>
    <div class="page">
        <div class="header">
            <div class="title">
                <h1 align="center">
                    Democratic People's Republic of Huang
                </h1>
                <h1 align="center">
                    National Institute for the Correction of Weather
                </h1>
				
            </div>
            <div class="clear hideSkiplink">

            </div>
        </div>
        <div class="main">
            
    This page shows the weather data observed and measured daily up to the current time at each weather station for different location. The temperatures measured at the stations are marked in green if the temperatures are least three degrees higher than the morning low. Then, the temperatures remain green until they are five degrees or more below the daily high. Green marks indicate a low potential for temperature inversion in these locations and aerial application is recommended at the time with green mark. Otherwise, the temperatures are marked in red, which indicates that the potential for temperature inversion is high and aerial application is not recommended in those locations at the time with red mark. 

      <p>For the latest observations and calculations, please refresh your browser.</p>
       
   <div>
	<table cellspacing="0" cellpadding="10" id="MainContent_GridView1"  align="center" style="color:#333333;border-collapse:collapse;">
		<caption>
			Today's High/Low Temperatures
		</caption><tr style="color:White;background-color:#5D7B9D;font-weight:bold;">
			<th scope="col">Station</th><th scope="col" style="width:45px;">Low Temp  (&#176;F)</th><th scope="col" style="width:65px;">Time Of Low</th><th scope="col" style="width:45px;">Current Temp  (&#176;F)</th><th scope="col" style="width:65px;">Current Time</th><th scope="col" style="width:50px;">Wind Speed (MPH)</th><th scope="col" style="width:45px;">Wind Dir (&#176;)</th><th scope="col" style="width:45px;">High Temp  (&#176;F)</th><th scope="col" style="width:65px;">Time Of High</th>
		</tr><tr style="color:#333333;background-color:#F7F6F3;">
			<td>Cleveland</td><td align="center">{{ c1}}</td><td>{{ c2}}</td><td align="center" style="background-color:{{ c_color }};">{{ c3}}</td><td>{{ c4}}</td><td align="center">{{ c5 }}</td><td align="center">{{ c6 }}</td><td align="center">{{ c7 }}</td><td>{{ c8 }}</td>
		</tr><tr style="color:#284775;background-color:White;">
			<td>Greenville</td><td align="center">{{ gv1}}</td><td>{{ gv2}}</td><td align="center" style="background-color:{{ gv_color }};">{{ gv3}}</td><td>{{ gv4}}</td><td align="center">{{ gv5 }}</td><td align="center">{{ gv6 }}</td><td align="center">{{ gv7 }}</td><td>{{ gv8 }}</td>
		</tr><tr style="color:#333333;background-color:#F7F6F3;">
			<td>Greenwood</td><td align="center">{{ gw1}}</td><td>{{ gw2}}</td><td align="center" style="background-color:{{ gw_color }};">{{ gw3}}</td><td>{{ gw4}}</td><td align="center">{{ gw5 }}</td><td align="center">{{ gw6 }}</td><td align="center">{{ gw7 }}</td><td>{{ gw8 }}</td>
		</tr><tr style="color:#284775;background-color:White;">
			<td>Stoneville</td><td align="center">{{ s1}}</td><td>{{ s2}}</td><td align="center" style="background-color:{{ s_color }};">{{ s3}}</td><td>{{ s4}}</td><td align="center">{{ s5 }}</td><td align="center">{{ s6 }}</td><td align="center">{{ s7 }}</td><td>{{ s8 }}</td>
		
		</tr>
	</table>
</div>

        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        
    </div>
    
<script type='text/javascript'>new Sys.WebForms.Menu({ element: 'NavigationMenu', disappearAfter: 500, orientation: 'horizontal', tabIndex: 0, disabled: false });</script></form>
</body>
</html>
